body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0px;
    color: white;
    height: 100vh;
    background-image: url(back.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0%;
    background-color: black;
}

a {
    text-decoration: none;
}

nav {
    margin: 0px;
    height: 60px;
     display: flex;
     align-items: center;
     justify-content: center;

}

.navT {
      display: flex;
      align-items: center;
      /* justify-content: space-between; */
      justify-content: center;
      padding-top: 30px;
}
.rightNav {
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
}

.rightNav div {
    margin-left: 10px;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 45px;
    
}

.logo p {
    
    font-size: 1.3rem;
    padding-left: 10px;
}


.download {
    padding: 0px 30px;
    background-color: hsl(157, 100%, 40%);
    border-radius: 5px;
    transition: 0.3s;
}

.download:hover {
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.199);
    transition: 0.3s;
}

.download p {
    color: rgb(255, 255, 255);
}

main {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.heroImage {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 width: 800px;
}


.heroImage img {
    width: 100%;
    border-radius: 3px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.288);
}

.heroText {
    display: flex;
    align-items: center;
    flex-direction: column;
    line-height: 24px;
}

main .rightNav {
    margin: 10px;
}

footer {
    height: 5vh;
}

p {
    text-align: center;
}

@media (max-width: 768px) {
.heroImage {
    width: 600px;
}
}

@media (max-width: 500px) {
    .heroImage {
        width: 375px;
    }

    .rightNav div {
        margin-left: 0px;
        width: 150%;
    }
}

@media (max-width: 350px) {
    .heroImage {
        width: 300px;
    }
}

