

body {
    /* font-family: 'eina04-bolduploaded_file',
    sans-serif; */
    /* height: 100vh; */
    
}

table {
    border-collapse: collapse;
}  


th, td {
    text-align: left;
    /* border: 1px solid blanchedalmond; */
}

.WidthMain {
    width: 450px;
    margin-top: 20px;
}

.basic {
    color: rgb(56, 217, 223);
}

.inboxText {
    color: white;
    opacity: 0;
    padding-top: 215px;
    padding-right: 100px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
    transition: 0.6s;
}

.inboxText:hover {
    opacity: 1;
    padding-right: 10px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.63);
    transition: 0.6s;
}

.me {
 width: 450px;   
 height: 300px;
 border-radius: 8px;
 text-align: right;
 background-image: url(sriram02.jpg);
 background-size: 100%;
 background-position: center;
 background-repeat: no-repeat;
 transition: 0.6s;
 overflow: hidden;
}

.me:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.308);
    background-size: 110%;
    overflow: hidden;
    transition: 0.6s;
}



.content {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0%;
}

.nav {
    height: 2vh;
}

footer {
    height: 10vh;
}

iframe {
    width: 430px;
    height: 242px;
    border-radius: 5px;
    margin-top: 5px;

}
video {
    width: 430px;
    height: 242px;
    border-radius: 5px;
    margin-top: 5px;
    border: 0.5px solid black;

}

.marvel, .apple {
    background-color: rgb(253, 253, 253);
    width: 440px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: center;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.13);
    transition: 0.6s;
}

.marvel:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.13);
    transition: 0.6s;
}

.apple:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.13);
    transition: 0.6s;
}

.marvel {
    margin-left: 10px;
}




/* @media(max-width: 850px) {

    .WidthMain {
        width: 400px;
    }
    .me {
        width: 400px;
    }
}
@media(max-width: 650px) {

    .WidthMain {
        width: 280px;
    }

    .me {
        width: 280px;
        height: 200px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1rem;
    }

    .inboxText {
        padding-top: 140px;
        padding-right: 100px;
        transition: 0.6s;
    }

    .inboxText:hover {
        padding-right: 10px;
        text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.63);
        transition: 0.6s;
    }
} */

h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
b::selection {
    background: rgb(56, 217, 223);
}

h1::selection,
h2::selection {
    background: black;
}

h1, h2, h3, h4, h5, h6, b {
    font-family: 'eina04-bolduploaded_file';
}

p {
    font-family: 'eina04-regularuploaded_file';
}



.LAFA {
    margin-top: 3px;
    padding-right: 380px;
}

.LAFM {
    margin-top: 5px;
    padding-right: 370px;
}

.sBar {
    height: 10px;
    width: 50px;
    background-color: rgb(56, 217, 223);
}

.basic .sBar {
    background-color: black;
    margin-top: 20px;
}

.stBar {
    height: 10px;
    width: 50px;
    color: rgb(56, 217, 223);
}

ceter {
    z-index: 1;
}

@font-face {
    font-family: 'eina04-bolduploaded_file';
    src: url('eina04-bold-webfont.woff2') format('woff2'),
        url('eina04-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eina04-regularuploaded_file';
    src: url('eina04-regular-webfont.woff2') format('woff2'),
        url('eina04-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}