body {
    width: 920px;
    margin-left: auto;
    margin-right: auto;
}  

.contactME {
    margin-top: 40px;
    margin-bottom: 15px;
}




.foot {
    display: flex;
    align-items: center;

}

.foot a img {
    height: 40px;
    border-radius: 20px;
    transition: 0.6s;
}

.foot a img:hover {
    box-shadow: 0px 3px 10px rgba(56, 218, 223, 0.527);
    transition: 0.6s;
}

.foot h3 {
    padding-bottom: 10px;
    padding-right: 10px;
}



.WidthMain {
    width: 450px;
    margin-top: 20px;
}

.flexTop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flexFav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}

.basic {
    color: rgb(56, 217, 223);
}

.inboxText {
    color: white;
    opacity: 0;
    padding-top: 215px;
    padding-right: 100px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0);
    transition: 0.6s;
}

.inboxText:hover {
    opacity: 1;
    padding-right: 10px;
    text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.63);
    transition: 0.6s;
}

.me {
 width: 450px;   
 height: 300px;
 border-radius: 8px;
 text-align: right;
 background-image: url(sriram02.jpg);
 background-size: 100%;
 background-position: center;
 background-repeat: no-repeat;
 transition: 0.6s;
 overflow: hidden;
}

.me:hover {
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.308);
    background-size: 110%;
    overflow: hidden;
    transition: 0.6s;
    overflow: hidden;
}



.content {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding-left: 0%;
}

.nav {
    height: 2vh;
}

header {
    margin: 2vh 0vh;

}

footer {
    height: 10vh;
}

iframe {
    width: 98%;
    height: 243px;
    border-radius: 5px;
    margin-top: 5px;
    border: 0.5px solid black;

}

.marvel, .apple {
    background-color: rgb(253, 253, 253);
    width: 440px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    justify-content: center;
    margin-top: 20px;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.13);
    transition: 0.6s;
}

.marvel:hover {
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.13);
    transition: 0.6s;
}



h3::selection,
h4::selection,
h5::selection,
h6::selection,
p::selection,
b::selection {
    background: rgb(56, 217, 223);
}

h1::selection,
h2::selection {
    background: black;
}

h1, h2, h3, h4, h5, h6, b, a {
    font-family: 'eina04-bolduploaded_file';
}

a {
    text-decoration: none;
    color: black;
}

p {
    font-family: 'eina04-regularuploaded_file';
}



.LAFA {
    margin-top: 3px;
    width: 96%;
    text-align: left;
    
}

.LAFM {
    margin-top: 5px;
    width: 96%;
    text-align: left;
}

.sBar {
    height: 10px;
    width: 50px;
    background-color: rgb(56, 217, 223);
}

.basic .sBar {
    background-color: black;
    margin-top: 20px;
}


ceter {
    z-index: 1;
}

@font-face {
    font-family: 'eina04-bolduploaded_file';
    src: url('eina04-bold-webfont.woff2') format('woff2'),
        url('eina04-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'eina04-regularuploaded_file';
    src: url('eina04-regular-webfont.woff2') format('woff2'),
        url('eina04-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@media (max-width: 950px) {

    body {
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }

    .flexTop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .flexInfo {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .flexFav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .flexFav .stBar {
        display: none;
    }
    .RE1 {
        display: none;
    }

.marvel {
    margin-left: 0px;
    margin-top: 20px;
}

.marvel, .apple {
    width: 450px;
    height: 285px;
}

}

@media (max-width: 500px) {

    body {
        width: 98%;
        margin-left: 10px;
        margin-right: 10px;
    }

    .WidthMain {
        width: 98vw;
    }

    .flexTop {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .flexInfo {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .flexFav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .content {
        width: 98%;
    }


    .me {
        width: 98%;
        height: 240px;
    }

    .marvel {
        margin-left: 0px;
        margin-top: 20px;
    }

    .marvel, .apple {
        width: 98%;
        height: 285px;
    }

    iframe,
    video {
        width: 96%;
    }

    .inboxText { 
        display: none;
    }
    
    

}