body {
    margin: 0px 0px ;
    font-size: 22px;
    font-family: 'Gotham Rounded', Helvetica, sans-serif;
}


.container {
    width: auto;
    background-color: aliceblue;
    /* padding: 10px; */
}

.item {
    border-radius: 7px;
    background-color: rgb(15, 173, 247);
    border-bottom: solid  rgb(4, 135, 196) 4px;
    margin: 10px;
    padding: 12px;
    color: aliceblue;
    text-align: center;
}

.item0 {
    font-size: 24px;
    margin: 10px;
    padding: 12px;
    color: black;
    text-align: center;
}
a {
    text-decoration: none;
    color: aliceblue;
    
}

footer a {
    text-decoration: none;
    color: aliceblue;
    background-color: rgb(15, 173, 247);
    padding: 15px;
    border-radius: 5px;
}

p {
    font-size: 100px;
}
h2 {
    padding: 12px;
    margin-bottom: 0px;
    margin-top: 5px;
}

form {
    background-color: #EEF8FF;
    border-radius: 20px;
    width: 35%;
    margin: 10px auto;
}

input {
    border: solid rgb(15, 173, 247) 1px;
    border-radius: 10px;
    padding: 12px;
    margin: 12px;
    font-size: 18px;
    font-family: 'Gotham Rounded', Helvetica, sans-serif;
    font-weight: 400;
}
input:focus {
    border-bottom: solid rgb(15, 173, 247) 3px;
}
textarea:focus {
    border-bottom: solid rgb(15, 173, 247) 3px;
}

input::placeholder {
    color: lightgray;
}

textarea {
    border: solid rgb(15, 173, 247) 1px;
    border-radius: 10px;
    padding: 12px;
    margin: 12px;
    font-size: 18px;
    font-family: 'Gotham Rounded', Helvetica, sans-serif;
    font-weight: 400;
}

button {
    border-radius: 10px;
    background-color: rgb(15, 173, 247);
    border: solid  rgb(4, 135, 196) 0px;
    border-bottom: solid  rgb(4, 135, 196) 4px;
    margin: 10px;
    padding: 12px;
    color: aliceblue;
    text-align: center;
    font-size: 18px;
    font-family: 'Gotham Rounded', Helvetica, sans-serif;
    font-weight: 600;
}

label {
    padding-left: 12px;
    padding-top: 12px;
    font-size: 16px;
}

select {
    border: solid rgb(15, 173, 247) 1px;
    background-color: white;
    border-radius: 10px;
    padding: 12px;
    margin: 12px;
    font-size: 18px;
    font-family: 'Gotham Rounded', Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(0, 183, 255);
    -webkit-appearance:none;
}

  
option {
    padding-left: 12px;
    padding-top: 12px;
    font-size: 14px;
    
}
